.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
 .the {
  font-weight: 50px;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var( --blue-wee);
}
.them{
  font-size: x-large;
}
.they {
  text-align: center;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--blue);
}

.link {
  background-color: var(--blue-light);
  padding: 8px;
}
.san{
  font-size: large;
  text-transform: capitalize;
  list-style: disc;
}


.san:hover{
  color: var(--blue);
}
.big{
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }
  .container {
    display: block;
    font-weight: normal;
    padding: 8px 16px ;
    margin-top: 10px;
  }
  .the {
    font-size: 40px;
    font-weight: 90px;
    color: var( --blue-wee);
    margin: 0%;
  }
  .class img{
    width: 400px;
  }
  .class{
    text-align: center;
    margin-top: 20px;
  }
}

